langchain
langchain-community
langgraph
langchain-groq
langchain-huggingface

sentence-transformers
faiss-cpu

torch
torchvision

streamlit
python-dotenv
beautifulsoup4
requests
wikipedia
pypdf

pydantic
arxiv 
langchain-experimental
streamlit-mermaid